<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" target="_blank" rel="noopener" class="ms-3 fs-5">
          {% if item.image %}
            <img src="{{ site.github.url }}{{ item.image }}" alt="PhilPeople" style="height:1.5em;vertical-align:middle;">
          {% elsif item.icon %}
            <i class="fab fa-{{ item.icon }}"></i>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </div>
</footer>

